/* tab-pane header */
.tab-pane .tab-header-area {
    -fx-background-color: YELLOW;
}

.tab-pane .tab-header-area. tab-header-background {
    -fx-border-color: GREEN;
}

.tab-pane .tab {
    -fx-background-color: WHITE;
    -fx-text-fill: BLACK
}

.tab-pane .tab:selected .focus-indicator {
    -fx-background-color: BLACK;
    -fx-text-fill: WHITE
}