/* table-view */
.table-view {
    -fx-background-color: WHITE;
    -fx-opacity: 0.7;
    -fx-background-radius: 10;
}

.table-view .filler {
    -fx-background-color: TRANSPARENT;
}

/* table-view | column-header */
.table-view .column-header {
    -fx-background-color: TRANSPARENT;
}

.table-view -column-header .filler {
    -fx-background-color: TRANSPARENT;
}

/* table-view | column-header-background */
.table-view .column-header-background{
    -fx-background-color: TRANSPARENT;cbaed
    -fx-background-radius: 10px 10px 0px 0px;
    -fx-background-insets: 0 10px 0 0;
    -fx-padding: 0 0 5px 0;
}

.table-view .column-header-background .filler {
    -fx-background-color: TRANSPARENT;
}

.table-view .table-cell {
    -fx-border-color: TRANSPARENT;
    -fx-background-color: TRANSPARENT;
    -fx-text-fill:BLACK;
}

.table-row-cell:hover {
    -fx-background-color: BLACK;
    -fx-opacity: 0.1;
}

.table-view .corner {
    -fx-background-color: TRANSPARENT;
}