.combo-box .combo-box-popup .list-view .box {
    -fx-background-color: TRANSPARENT;
    -fx-background-radius: 15;
    -fx-padding: 1;
    -fx-background-insets: 1;
}

.combo-box .combo-box-popup .list-view .box .mark {
    -fx-background-color: TRANSPARENT;
}

.combo-box .combo-box-popup .list-view .box:selected .mark {
    -fx-background-color: BLACK;
}