/* Button, TextField, and PasswordField style */
.button,
.text-field,
.password-field,
.label {
    -fx-background-color: WHITE;
    -fx-background-radius: 15;
    -fx-border-color: TRANSPARENT;
    -fx-border-radius: 15;
    -fx-text-fill: BLACK;
    -fx-font-family: "Verdana", sans-serif;
    -fx-padding: 5 12 5 12;
}

/* Button style */
.button {
    -fx-font-size: 16px;
}

/* TextField and PasswordField style */
.text-field,
.password-field {
    -fx-opacity: 0.7;
    -fx-font-size: 14px;
    -fx-highlight-fill: BLACK;
    -fx-highlight-text-fill: WHITE;
}

/* Button style on hover */
.button:hover {
    -fx-background-color: BLACK;
    -fx-text-fill: WHITE;
}

/* Button style on click */
.button:pressed {
    -fx-background-color: BLACK;
    -fx-text-fill: GREY;
}

/* TextField and PasswordField style on hover */
.text-field:hover,
.password-field:hover {
    -fx-opacity: 0.85;
}